<div class="widget-instructions">
  <h3 class="text-lg font-semibold text-black mb-4">Add the Webring Widget to Member's Site</h3>
  <p class="text-sm text-gray-600 mb-4">Copy and paste the following code into member's site HTML where you want the widget to appear:</p>

  <div class="border border-black border-[3px] bg-gray-900 p-4 mb-6">
    <pre class="text-green-400 font-mono text-sm overflow-x-auto"><code>&lt;!-- Webring Widget --&gt;
&lt;script src='<%= webring.widget_url(format: 'js') %>' data-member-uid='<%= member.uid %>'&gt;&lt;/script&gt;
&lt;div id='webring-widget'&gt;&lt;/div&gt;
&lt;!-- End Webring Widget --&gt;</code></pre>
  </div>

  <div class="mb-6">
    <h4 class="text-lg font-semibold text-black mb-3">Preview</h4>
    <div class="border border-black border-[3px] p-6 bg-white">
      <div id="webring-widget"></div>
    </div>
  </div>

  <p class="text-sm text-gray-600">The widget will display navigation links to move through the webring.</p>
</div>

<%# Include the widget script for preview purposes %>
<script src='<%= webring.widget_url(format: 'js') %>' data-member-uid='<%= member.uid %>'></script>
